name: First Workflow
on: workflow_dispatch
jobs:
  first-job:
   runs-on: ubuntu-latest
   steps:
     - name: pring greeting
       run: echo "Hello World!"
     - name: pring goodbye
       run: echo "Done bye"
     

 
